<div class="site-section ">
    <div class="post-entry " style="margin-right:20px ;">
        <a href="#">
            <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
        </a>
        <div class="caption  ">
            <div class="caption-inner ">
                <h2 class="mb-3">{{playerInput.name}}</h2>
                <div class="author d-flex align-items-center">
                    <div class="img mb-2 mr-3">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <h4>nbr : {{playerInput.nbr}}</h4>
                        <span>Age : {{playerInput.age}}</span><br>
                        <span>Position : {{playerInput.position}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>